import /init.u8500.rc

on init

    # Janice uses preload as swap partition so this is codina specific
    mkdir /preload 0771 system system

on boot

# GPS
    mkdir /data/gps 771 system system
    chown system system /data/gps

service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system inet net_raw
    ioprio be 0
